/* common styes */
body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;

}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
   
}


img {
    display: block;
    max-width: 100%;
}

a {
    padding-bottom: 0;
    margin-bottom: 0;
    text-decoration: none;
}

button {
    cursor: pointer;
}
/* /common styes */


/* header mobile */
.nav-list {
    display: none;
}
.address-text {
    display: none;
}
.logo {
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    

}

.logo:hover,
.logo:focus {
    color:#404bbf;
}
.logo-part {
    color: #2E2F42;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.section-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.section-header {
    padding-top: 16px;
    padding-bottom: 16px;
}


/* /header mobile */

/* mobile menu */
@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999999;
        background-color: #FFF;
        padding-top: 72px;
        padding-left: 16px;
        padding-right: 24px;
        padding-bottom: 40px;
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu.is-open {
        transform: translateX(0%);
    }
    .mobile-menu-nav-link {
        color: #2E2F42;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }
    .mobile-nav {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 168px;
    }
    .mobile-nav-item:first-child .mobile-menu-nav-link {
        color: #404bbf;
    }
    .mobile-address-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
    }
    .mobile-address-link {
        color: #434455;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 0.83;
        letter-spacing: 0.02em;
    }
    .mobile-address-link:hover,
    .mobile-address-link:focus {
        color:#4D5AE5;
    }
    .mobile-menu-icon {
        fill:#F4F4FD;
    }
    .mobile-menu-social-links {
        display: flex;
        gap: 40px;
        width: calc((320px - 120px) / 4);
    
    }
    .mobile-icon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #4D5AE5;
        width: 40px;
        height: 40px;
    }
    .mobile-icon-link:hover,
    .mobile-icon-link:focus {
        background-color:#404bbf;
    
    }
    .mobile-menu-close-bnt {
        position: fixed;
        top: 24px;
        right: 24px;
        fill:#2E2F42;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        fill: #2E2F42;
        padding: 0;
        width: 24px;
        height: 24px;
    }
    .mobile-open-btn {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }
    .mobile-open-btn-icon {
        fill: #2F2F37;
    }
    

}

/* /mobile menu */


/* hero section mobile slyles */
.hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/background-picture/hero-section-background-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: #2E2F42;
    background-position: center;
    margin: 0 auto;
    width: 320px;
}
.section-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 0;

}
@media screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/background-picture/hero-section-background-mobile@2x.jpg) ;
    }
    
}

.hero-section-title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    width: 156px;
    margin: 0 auto;
}

.hero-section-button {
    background-color: #4D5AE5;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    margin-top: 72px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section-button:hover,
.hero-section-button:focus {
    background-color: #404BBF;
}

/* /hero section mobile slyles */


/* our strategy mobile styles */


@media screen and (max-width: 1158px) {
    .icon {
        display: none;
    }
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-strategy {
   padding: 96px 0;
}

.strategy-list {
   display: flex;
   flex-direction: column;
   gap: 24px;
   width: 100%;
}
.our-strategy-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.our-strategy-text {
    color:#434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  
}
/* /our strategy mobile styles */


@media screen and (min-width: 320px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 288px;

    }
}


@media screen and (min-width: 768px) {
    .container {
        width: 736px;

    }

/* header tablet styles */
    .nav-list {
        display: flex;
    }
    .address-text {
        display: block;
    }
    .mobile-menu {
        display: none;
    }
    .mobile-open-btn {
        display: none;
    } 
    .nav {
    display: flex;
    align-items: center;
    
    }
    .navigation-link {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }

    .nav-list {
        margin-left: 120px;
        display: flex;
        gap: 40px;
    }
    .navigation-link {
    
        color:#2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .nav-list-link:first-child .navigation-link {
        color: #404bbf;
    
    }
    
    .nav-list-link:first-child .navigation-link::after {
        position: absolute;
        left: 0;
        bottom: -13px;
        display: block;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        content: "";
        border-radius: 2px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }
    
    
    .navigation-link:hover,
    .navigation-link:focus {
        color: #404bbf;
    }
    .address-text {
        font-style: normal;
        display: flex;
        align-items: center;
        
    }
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        
    }
    .contacts {
        color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .contacts:hover,
    .contacts:focus {
        color:#404bbf;
    }
    
    
    .nav-list {
        display: flex;
        gap: 40px; 
    }

    /* /header tablet styles */


/* hero section tablet styles */
    .hero-section {
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/background-picture/hero-section-background-tablet.jpg);
            background-repeat: no-repeat;
            background-size: cover;   
            background-color: #2E2F42;
            background-position: center;
            margin: 0 auto;
            width: 768px;
    }
@media screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/background-picture/hero-section-background-tablet@2x.jpg);
    }
}
    .hero-section-title {
        color:#FFF;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        width: 496px; 
    }
/* /hero section tablet styles */


/* our stratedy tablet styles */
    
    .strategy-list {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
    }
    .our-strategy-list {
        width: calc((100% - 24px) / 2);
    }
    .our-strategy-title {
        text-align: start;
    }
    

/* /our stratedy tablet styles */

}


@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
       
/* header descktop styles */
    }
    .nav-list {
        margin-left: 76px;
    }
    .contacts-list {
        flex-direction: row;
        gap: 40px;
    }
    .nav-list-link:first-child .navigation-link::after {
        bottom: 6px;
    }
    .hero-section {
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/background-picture/hero-section-background-descktop.jpg);
            background-repeat: no-repeat;
            background-size: cover;   
            background-color: #2E2F42;
            background-position: center;
            margin: 0 auto;
            width: 1440px;
    }
@media screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/background-picture/hero-section-background-descktop@2x.jpg);
    }
}
/* /header descktop styles */

/* our strategy desktop styles */
.strategy-list {
    flex-wrap: nowrap;
    width: 1126px;
}
.our-strategy-list {
    width: calc((100% - 72px) / 4);
}
.our-strategy-text {
    font-weight: 400;
}
.our-strategy-list >.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color:#F4F4FD;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
}
.our-strategy-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
/* /our strategy desktop styles */
}
